body {
  font-family: helvetica;
  margin: 20px;
}

h1 {
  font-size: 20px
}

/* habits */

#habits {
  font-size: 1.1em;
  float: left;
}

#habits small {
  font-size: 0.5em;
}

#habits li span:hover {
  background: #ddd;
}

.habits span {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  background-color: green;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}

.habits div {
  margin-left: 20px;
  padding-left: 20px;
}

/* details */

#details {
  display: none;
  float: right;
  width: 500px;
  border: 2px solid black;
  padding: 10px;
}

#details h2 {
  font-size: 1.2em;
  margin: 0;
}

#details .close {
  float: right;
  text-align: right;
  color: gray;
}

#details .trash {
  text-align: right;
  color: gray;
}