body {
	margin: 30px 50px;
  font-family: verdana;
}

/* h1 */

h1 {
  color: white;
  margin: 50px 0;
}

h1 span {
  background: #dd514c;
  padding: 15px;
  margin: 0;
}

h1 span:nth-child(2) {
  background: #BE0700;
}

/* new habit */

#newHabitBox {
  margin-left: 290px;
  margin-right: 5px;
}

.habits #newHabit {
  font-size: 1.3em;
  width: 100%;
  color: #333;
  display: block;
  background: #f3f3f3;
  border: 1px solid #ddd;
}

/* habits */

.habits {
  border-spacing: 5px;
  border-collapse:separate;
  margin: 20px 0;
  width: 800px;
}

.habits tr {
  vertical-align: top;
}

.habits th {
  font-weight: normal;
  font-size: 0.8em;
  -webkit-transform: rotate(-45deg);
  position: relative;
  bottom: -35px;
}

.habits th div {
  width: 10px;
}

.habits td.date {
  width: 30px;
  vertical-align: middle;
}

.habits .entry {
  font-size: 1.2em;
  color: #333;
  border-left: 5px solid #555;
  padding: 5px 10px;
  background: #f3f3f3;
}

.habits .entry div {
  font-size: 0.5em;
  color: #555;
}

.habits tr .extra {
  vertical-align: middle;
  color: #eee;
  font-size: 1.1em;
}

.habits tr:hover .extra {
  color: #333;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + span:before {
  font-family: 'FontAwesome';
  padding-right: 3px;
  font-size: 25px;
  vertical-align: middle;
  color: #333;
}

input[type="checkbox"] + span:before {
  content: "\f096"; /* check-empty */
}

input[type="checkbox"]:checked + span:before {
  content: "\f046"; /* check */
}

/* habitGraph */

#habitGraph {
  color: black;
}